<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="gridview.css">
    <title>Responsive Layout</title>
</head>

<body>
    <header id="header">
        <div class="container">
            <div class="row center">
                <div class="col-xs col-sm-3">
                    <img class="logo" src="https://placehold.co/100x38?text=Patika.dev" alt="Patika.dev Logo"
                        width="100" height="38">
                </div>
                <div class="col-xs col-sm-9">
                    <nav id="nav">
                        <a class="nav-items" href="#">Menu 1</a>
                        <a class="nav-items" href="#">Menu 2</a>
                        <a class="nav-items" href="#">Menu 3</a>
                        <a class="nav-items" href="#">Menu 4</a>
                        <a class="button" href="#">Button</a>
                    </nav>
                    <button id="mobile-menu-button" class="button">Menu</button>
                </div>
            </div>
        </div>
    </header>
    <div id="mobile-menu" style="display: none;">
        <a href="#">Menu 1</a>
        <a href="#">Menu 2</a>
        <a href="#">Menu 3</a>
        <a href="#">Menu 4</a>
    </div>
    
    <div class="hero">
        <div class="row center">
            <div class="col-xs-12 col-sm-6">
                <div class="hero-caption">
                    <h1>Great design is invisible to users</h1>
                    <p>Lorem ipsum dolor sit amet.</p>
                    <a class="button" href="#">Call to Action</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img class="hero-image" src="https://placehold.co/750x550?text=(-_-)" alt="Hero Image" width="750"
                    height="550">
            </div>
        </div>
    </div>

    <section class="section white">
        <h2 class="section-title">About</h2>
        <div id="about">
            <h4>Why our clients trust us</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ab numquam non ex saepe aliquam
                veritatis hic pariatur, reiciendis magnam rem voluptate libero consectetur totam sint, omnis
                necessitatibus porro! Eius.</p>
        </div>
    </section>

    <section class="section">
        <h2 class="section-title">Latest blog</h2>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="blog">
                        <img src="https://placehold.co/400x250?text=/" alt="Blog Image" width="400" height="250">
                        <div class="blog-content">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, molestiae?</p>
                            <a class="button" href="#">Learn More</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="blog">
                        <img src="https://placehold.co/400x250?text=/-" alt="Blog Image" width="400" height="250">
                        <div class="blog-content">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, molestiae?</p>
                            <a class="button" href="#">Learn More</a>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <article class="blog">
                        <img src="https://placehold.co/400x250?text=/-\" alt="Blog Image" width="400" height="250">
                        <div class="blog-content">
                            <h3>Lorem ipsum dolor sit amet.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, molestiae?</p>
                            <a class="button" href="#">Learn More</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <section class="section white">
        <h2 class="section-title">Our happy clients</h2>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <article class="comment">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae atque modi cum laborum ex.</p>
                        <img src="https://placehold.co/50?text=JD" width="50" height="50" alt="Comment Image">
                        <h3>John Doe</h3>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <article class="comment">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus facere qui sint similique.</p>
                        <img src="https://placehold.co/50?text=EA" width="50" height="50" alt="Comment Image">
                        <h3>Erhan Algül</h3>
                    </article>
                </div>
            </div>
    </section>

    <footer id="footer">&copy; 2024 Responsive Layout</footer>

    <script>
        document.getElementById('mobile-menu-button').addEventListener('click', function() {
            var menu = document.getElementById('mobile-menu');

            if(menu.style.display === 'none') {
                menu.style.display = 'block';
            } else {
                menu.style.display = 'none';
            }
        })
    </script>

</body>

</html>